.infoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 30px;
  margin-bottom: 24px;
}

.title::first-letter {
  text-transform: capitalize;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: -1;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  gap: 5px;
  color: var(--softTextColor);
  margin-bottom: 16px;
  justify-content: space-between;
  width: 100%;
  font-size: 12px !important;
}

.profileContainer {
  display: flex;
  gap: 8px;
}

.metadata {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.userTextContainer > p {
  text-transform: uppercase;
}

.imageContainer {
  flex: 1;
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  z-index: -1;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 5;
  margin-top: 40px;
}

.description p {
  font-size: 20px;
  line-height: 180%;
  font-weight: 400;
  margin-top: 20px;
}

.description p > img {
  width: 100%;
}

.description p > a {
  text-decoration: underline;
}

.description ul {
  padding-left: 20px;
}

.description ol {
  padding-left: 20px;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .description p {
    font-size: 18px;
    line-height: 155%;
  }

  .username {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
  }

  .metadata {
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (max-width: 425px) {
  .userTextContainer {
    flex-direction: column-reverse;
  }
  .profileContainer {
    display: flex;
    justify-content: space-between;
  }
}
