.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: underline;
  color: var(--text-color);
}

.altlog {
  color: var(--bg);
  box-shadow: 0px 0px 20px var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  font-size: 14px;
}

.log {
  color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.wrapper {
  background-color: var(--textColor);
  width: 50rem;
  padding: 100px 150px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
}

.logo {
  color: var(--bg);
  flex: 1;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  justify-content: flex-start;
}

.desc {
  color: var(--bg);
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    padding: 30px;
  }
}
