.parent {
  height: 100px;
  width: 100%;
}

.container {
  width: 100%;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  backdrop-filter: blur(25px);
  position: absolute;
  top: 0;
  left: 0;

  padding-left: 80px;
  padding-right: 80px;
}

.social {
  display: flex;
  gap: 10px;
}

.logo {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  justify-content: flex-start;
}

.toggle {
  display: flex;
  gap: 10px;
  align-items: center;
}

.links {
  display: flex;
  padding-left: 2rem;
  gap: 40px;
  align-items: center;
  flex: 1;
  font-size: 16px;
  font-weight: bold;
}

.auth {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    gap: 15px;
  }
  .search {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
  .toggle {
    padding-right: 1rem;
  }
  .wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
  .links {
    padding-left: 0;
  }
}

@media screen and (max-width: 1024px) {
  .links {
    justify-content: flex-end;
    flex: 0;
  }
  .cat {
    display: none;
  }
  .link {
    display: none;
  }
}
