.container {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.button {
  border: none;
  padding: 16px 16px;
  background-color: var(--softBg);
  color: var(--textColor);
  cursor: pointer;
}

.active {
  background-color: var(--softBg);
  color: var(--textColor);
  border: solid 1px var(--textColor);
}

.button:disabled {
  background-color: var(--softBg);
  cursor: not-allowed;
}

.pageNumber {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-right: 4px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .pageNumber {
    align-items: center;
    padding: 2px;
  }
}

.activePage {
  font-weight: bold;
}

.ellipsis {
  margin-right: 4px;
  display: flex;
  align-items: center;
}
