@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.dropdown {
  position: relative;
  display: inline-block;
  /* z-index: 999; */
}

.btn {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*input has OS specific font-family*/
  cursor: pointer;
  font-size: 16px;
  color: var(--textColor);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.btn:active {
  border: none;
  padding: 0 !important;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn:focus {
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 0 !important;
}

.bg {
  margin-top: 8px;
  background-color: var(--softBg);
  /* border: solid 1px #d1d1d1; */
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 4px 8px;
}

.categoryItem {
  display: flex;
  color: rgb(25, 25, 25);
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .button {
    gap: 15px;
  }
}

.menu {
  display: none;
  position: static;

  left: 0;
  z-index: 1000;
  background-color: var(--softBg);
  border-radius: 5%;
}

.categoryItem {
  display: block;
  padding: 8px;
  font-size: 16px;
}

.dropdown:hover .menu {
  z-index: 1000;
  display: block;
}
